<ion-view view-title="Analysis">

<ion-nav-bar>
<ion-nav-buttons side="right">
<button class="button button-icon icon ion-ios-plus-outline" ng-click="goToAnalysisSelect()"></button>
</ion-nav-buttons>
</ion-nav-bar>

<ion-content class="padding">
<div class="list card">
	<div class="item item-divider">Filters</div>
	<div ng-if="filters.length != 0">
		<div class="item item-body" ng-repeat="filter in filters">{{filter.name}}</div>
	</div>
	<div ng-if="filters.length == 0"> 
	<div class="item item-body">Click the plus icon to add filters...</div>
	</div>
</div>
<button class="button button-balanced button-full" ng-click="goToAnalysisChoice()">Apply Filters</button>
</ion-content>
</ion-view>
