<ion-view view-title="Analysis">
<ion-content class="padding">
  <div class="list">
  <label class="item item-input item-select">
    <div class="input-label">
      Location
    </div>
    <select ng-model="selectedFilters.slocation">
      <option ng-repeat="location in locations">{{location.name}}</option>
    </select>
  </label>
</div>

<div class="list">
  <label class="item item-input item-select">
    <div class="input-label">
      Species
    </div>
    <select ng-model="selectedFilters.bee">
      <option ng-repeat="bee in bees">{{bee.name}}</option>
    </select>
  </label>
</div>

<div class="list">
  <label class="item item-input item-select">
    <div class="input-label">
      Environment
    </div>
    <select ng-model="selectedFilters.context">
      <option ng-repeat="context in contexts">{{context.name}}</option>
    </select>
  </label>
</div>

<button class="button button-balanced button-full" ng-click="doneSelectFilters()">Done</button>

</ion-content>
</ion-view>