<ion-view view-title="Analysis Visualisation">

<ion-nav-bar> 
<ion-nav-buttons side="right">
<button class="button button-icon icon ion-ios-refresh-outline" ng-click="changeOrientation()"></button>
</ion-nav-buttons>
</ion-nav-bar>

<ion-content class="padding">
    <div class="card">
        <div class="item item-divider">
            Analysis Visualisation
        </div>
        <div class="item item-text-wrap">
            <canvas id="line" class="chart chart-line" data="data" labels="labels" legend="true" series="series" options="{showTooltips: true}"></canvas>
        </div>
    </div>
</ion-content>
</ion-view>