<ion-view view-title="Analysis">

<ion-content class="center">

  <div class="row"
  <div class="col"><button class="button button-block button-balanced" ng-click="goToBarGraph()">Bar Chart</button></div>
  </div>

  <div class="row">
  <div class="col"><button class="button button-block button-balanced" ng-click="goToLineGraph()">Line Graph</button></div>
  </div>

  <div class="row">
  <div class="col"><button class="button button-block button-balanced" ng-click="goToMap()">Map</button></div>
  </div>

</ion-content>

</ion-view>