<ion-view view-title="Edit task">
  <ion-content class="padding">
    <button class="button button-assertive" ng-click="deleteTask({{task.id}})"> Delete </button>

    <label class="item item-input item-stacked-label">
        <span class="input-label">Task Name</span>
        <input ng-model="formData.taskName" type="text">
    </label>

    <label class="item item-input item-stacked-label">
        <span class="input-label">Task Summary</span>
        <input ng-model="formData.shortDesc" type="text" placeholder="{{task.shortDescription}}">
    </label>

    <label class="item item-input item-stacked-label">
        <span class="input-label">Task Summary</span>
        <input ng-model="formData.desc" type="text" placeholder="{{task.taskDescription}}">
    </label>

    <label class="item item-input item-stacked-label">
        <span class="input-label">Task Deadline (DD/MM/YY)</span>
        <input ng-model="formData.deadline" type="date" placeholder="{{task.deadline | date:'dd/mm/yyyy'}}">
    </label>

    <label class="item item-input item-stacked-label">
        <span class="input-label">Example images....?</span>
    </label>

    <button class="button button-assertive"> Abort </button>
    <button class="button button-balanced" ng-click="updateTask({{task.id}})"> Submit </button>

  </ion-content>
</ion-view>