<ion-view view-title="Edit task">

<ion-nav-bar>
<ion-nav-buttons side="right">
<button class="button button-icon" ng-click="updateTask({{task.id}})">Done</button>
</ion-nav-buttons>
</ion-nav-bar>

<ion-content class="padding">
<div class="list">
    <label class="item item-input item-stacked-label">
        <span class="input-label">Task Name</span>
        <input ng-model="formData.taskName" type="text">
    </label>

    <label class="item item-input item-stacked-label">
        <span class="input-label">Task Summary</span>
        <input ng-model="formData.shortDesc" type="text" placeholder="{{task.shortDescription}}">
    </label>

    <label class="item item-input item-stacked-label">
        <span class="input-label">Task Summary</span>
        <input ng-model="formData.desc" type="text" placeholder="{{task.taskDescription}}">
    </label>

    <label class="item item-input item-stacked-label">
        <span class="input-label">Task Deadline (DD/MM/YY)</span>
        <input ng-model="formData.deadline" type="date" placeholder="{{task.deadline | date:'dd/MM/yyyy'}}">
    </label>

    <label class="item item-input item-stacked-label">
        <span class="input-label">Example images....?</span>
    </label>
</div>
</ion-content>
</ion-view>