<ion-view view-title="Tasks">
<ion-content>

<label class="item item-input">
  <i class="icon ion-search placeholder-icon"></i>
  <input placeholder="Search" type="search">
</label>
<button ng-click="goToNewTask()" class="button button-balanced"> New </button>

<ion-list>
<ion-item class="item-icon-right" ng-repeat="task in tasks" type="item-text-wrap" >
<a href="#/tab/task/{{task.id}}"><h3 style="float:left">{{task.id + 1}}. {{task.taskName}}</h3></a>
<a ng-click="goToEditTask(task.id)" class="icon ion-chevron-right icon-accessory button button-assertive">EDIT</a>
</ion-item>
</ion-list>

</div>
</ion-content>
</ion-view>