<ion-view view-title="Profile">
<ion-content>
<div class="row">
<div class="col">
	<div class="card">
		<div class="item item-divider">
			Hello, Tom
		</div>
		<div class="item item-text-wrap">
			tom@tomnomnomnom.com
		</div>
	</div>
</div>
</div>

<div class="row">
	<button class="button button-block button-balanced" ng-click="goToLeaderboard()">Leaderboard</button>
</div>

<div class="row">
<button ng-click="goToLogin()" class="button button-block button-balanced">Log Out</button>
</div>

<div class="row">
<div class="col">
<style type="text/css">
	
	.customTomLol{

		margin: 10px 10px;
	}
</style>
	<div class="card customTomLol">
		<div class="item item-divider">
			Karma
		</div>
		<div class="item item-text-wrap">
			9001
		</div>
	</div>
	</div>
</div>

<div class="row">
	<div class="col"><button class="button button-block button-balanced">Change Email</button></div>
</div>

<div class="row">
	<div class="col"><button class="button button-block button-balanced">Change Password</button></div>
</div>

</ion-content>
</ion-view>
