<ion-view view-title="Profile">
<ion-content>
<div class="row">
<div class="col">
	<div class="card">
		<div class="item item-divider">
			Hello, Someone
		</div>
		<div class="item item-text-wrap">
			someone@someone.com
		</div>
	</div>
	</div>
</div>

<div class="row">
	<div class="col"><button class="button button-block button-balanced">Change Email</button></div>
</div>

<div class="row">
	<div class="col"><button class="button button-block button-balanced">Change Password</button></div>
</div>

<div class="row">
<div class="col">
	<div class="card">
		<div class="item item-divider">
			Karma
		</div>
		<div class="item item-text-wrap">
			9001
		</div>
	</div>
	</div>
</div>

<div class="row">
	<div class="col"><button class="button button-block button-balanced" ng-click="goToLeaderboard()">Leaderboard</button></div>
</div>

</ion-content>
</ion-view>
