<ion-view view-title="Sort">
<ion-content ng-controller="sortCtrl" ng-init="loadImages()">
    <div class="row" ng-repeat="bee in bees" ng-if="$index % 3 === 0">
        <div class="col col-33" ng-if="$index < bees.length" ng-click="clickGridItem($item)">
            <img ng-src="{{bees[$index].thumb}}" width="100%" />
        </div>
        <div class="col col-33" ng-if="$index + 1 < bees.length" ng-click="clickGridItem($index+1)">
            <img ng-src="{{bees[$index + 1].thumb}}" width="100%" />
        </div>
        <div class="col col-33" ng-if="$index + 2 < bees.length" ng-click="clickGridItem($index+2)">
            <img ng-src="{{bees[$index + 2].thumb}}" width="100%" />
        </div>
    </div>
</ion-content>
</ion-view>
