<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Tasks" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Sort" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Profile" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <!-- Analysis Tab -->
  <ion-tab title="Analysis" icon-off="ion-ios-analytics-outline" icon-on="ion-ios-analytics" href="#/tab/analysis">
    <ion-nav-view name="analysis-filters"></ion-nav-view>
  </ion-tab>


</ion-tabs>
