<ion-view view-title="Task Description">
<!--
<ion-content>

<div class="row">
<div class="col">
	<div class="card">
		<div class="item item-divider">
			Task {{task.taskName}}
		</div>
		<div class="item item-text-wrap">
			{{task.taskDescription}}
		</div>
	</div>
	</div>
</div>


</ion-content>
-->
    <ion-content class="has-header" padding="'true'">
        <h1 style="">{{task.taskName}}</h1>
        <div style="">
        	<p>{{task.shortDescription}}</p>
            <p>{{task.taskDescription}}</p>
        </div>
        <a style="text-decoration: none;"  href="#/tab/task/imageSelect">
        	<button style="" class="button button-stable button-block ">Take Photo</button>
        </a>
        <a style="text-decoration: none;" href="#/tab/task/imageSelect">
        	<button style="" class="button button-stable button-block ">Select Photo</button>
        </a>
    </ion-content>
</ion-view>



