<ion-view view-title="Tasks">

<ion-nav-bar>
<ion-nav-buttons side="left">
<div class="buttons" ng-if="expert == true">
	<button class="button button-icon icon ion-ios-minus-outline"
	ng-click="data.showDelete = !data.showDelete"></button>
</div>
</ion-nav-buttons>
<ion-nav-buttons side="right">
<div ng-if="expert == true" ng-show="!data.showDelete">
	<button ng-click="goToNewTask()" class="button button-positive">New</button>
</div>
</ion-nav-buttons>
</ion-nav-bar>

<ion-content>

<label class="item item-input">
	<i class="icon ion-search placeholder-icon"></i>
	<input placeholder="Search" type="search">
</label>

<div ng-if="expert == true">
	<ion-list show-delete="data.showDelete">

	<ion-item ng-repeat="task in tasks" ng-click="goToTask(task.id)" class="item-remove-animate  item-avatar item-icon-right">
	<img ng-src="{{task.face}}">
	<h2>{{task.taskName}}</h2>
	<p>Karma: {{task.shortDescription}}</p>
	<i class="icon ion-chevron-right icon-accessory"></i>

	<ion-delete-button class="ion-minus-circled" 
	ng-click="deleteTask(task)">
	</ion-delete-button>

	<ion-option-button class="button-calm ion-edit icon-left"
	ng-click="goToEditTask(task.id)">
	Edit
	</ion-option-button>
</ion-item>
</ion-list>
</div>

<div ng-if="expert == false">
	<ion-list>
	<ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="task in tasks" type="item-text-wrap" ng-click="goToTask(task.id)">
	<img ng-src="{{task.face}}">
	<h2>{{task.taskName}}</h2>
	<p>Karma: {{task.shortDescription}}</p>
	<i class="icon ion-chevron-right icon-accessory"></i>
</ion-item>
</ion-list>
</div>

</ion-content>
</ion-view>