<ion-view view-title="Tasks">

<ion-nav-bar>
<ion-nav-buttons side="right">
<div ng-if="expert == true">
	<button ng-click="goToNewTask()" class="button button-positive">New</button>
</div>
</ion-nav-buttons>
</ion-nav-bar>

<ion-content>

<label class="item item-input">
	<i class="icon ion-search placeholder-icon"></i>
	<input placeholder="Search" type="search">
</label>

<ion-list show-delete="false" can-swipe="true">
<ion-item ng-repeat="task in tasks">
<a ng-click="goToTask(task.id)">{{task.id + 1}}. {{task.taskName}}</a>
<ion-option-button class="button-light icon button button-assertive ion-edit" ng-click="goToEditTask(task.id)" ng-if="expert == true"></ion-option-button>
<!--<ion-option-button class="button-light icon ion-email"></ion-option-button>-->
<!--<ion-option-button class="button-assertive icon ion-trash-a"></ion-option-button>-->
</ion-item>
</ion-list>

</ion-content>
</ion-view>